<dx-popup
    [(visible)]="isVisibleUpdateServicePopup"
    width="60%"
    height="auto"
    maxHeight="90%"
    [showTitle]="true"
    [title]="titleUpdateService"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false">
    <dx-data-grid
        min-height="250"
        [showRowLines]="true"
        [dataSource]="invoice.servicesOfInvoice"
        (onInitNewRow)="setDefaultValue($event)"
        [showBorders]="true">
        <dxo-editing
            mode="row"
            [allowAdding]="true">
        </dxo-editing>
        <dxi-column
            dataField="orderTime" dataType="datetime">
        </dxi-column>
        <dxi-column
            dataField="service.serviceTypeId"
            caption="Service type"
            [setCellValue]="setServiceType">
            <dxo-lookup
                [dataSource]="serviceTypeSource"
                valueExpr="id"
                displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column
            dataField="serviceId"
            caption="Service name"
            [setCellValue]="setPrice">
            <dxo-lookup
                [dataSource]="getFilteredServices"
                valueExpr="id"
                displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column
            dataField="service.price"
            format="currency"></dxi-column>
        <dxi-column
            dataField="quantity"
            [setCellValue]="setTotalAmount">
            <dxo-lookup
                [dataSource]="serviceQuantitySource"></dxo-lookup>
        </dxi-column>
        <dxi-column
            dataField="totalAmount"
            format="currency">
        </dxi-column>
    </dx-data-grid>
    <div class="group-btn">
        <dx-button (onClick)="cancel()" type="danger" icon="close" text="Cancel"></dx-button>
        <dx-button (onClick)="updateService()" type="success" icon="check" text="Update"></dx-button>
    </div>
</dx-popup>
