@import "~src/styles";
.top-bar {
    width: 100%;
    height: $top-bar-height;
    background-color: $background-color;
    overflow: visible;
    .hotel-name {
        float: left;
        color: #fff;
        margin-top: 27px;
        font-size: 36px;
    }
    a {
        text-decoration: none;
    }
    nav {
        margin-top: 32px;
        float: right;
        z-index: 1;
        dx-button {
            float: right;
            margin: 0 15px 15px 0;
        }
        .icon-bar {
            background-color: #fff;
        }
    }
}
