@import "~src/styles";
.top-bar {
    width: 100%;
    height: $top-bar-height;
    background-color: $background-color;
    overflow: visible;
    .logo {
        float: left;
        height: 60px;
        width: 150px;
        margin-top: 5px;
    }
    a {
        text-decoration: none;
    }
    nav {
        margin-top: 18px;
        float: right;
        z-index: 1;
        dx-button {
            float: right;
            margin-right: 15px;
        }
        .icon-bar {
            background-color: #fff;
        }
        .search {
            margin-right: 15px;
            border-color: $background-color;
            width: 150px;
            float: left;
        }
    }
}

.result-item {
    height: 85px;
    padding: 5px;
    p {
        margin: 0;
    }
    .room-name {
        //float: left;
    }
    .client-name {
        //float: right;
    }
}

.result-item:hover {
    background-color: $background-color;
    color: #fff;
}

hr {
    border: 1px solid #ddd;
    margin: 0;
}
