<div class="invoice-list">
    <h3>Invoice list</h3>
    <dx-data-grid
        width="100%"
        height="500px"
        [showBorders]="true"
        [showColumnLines]="true"
        [showRowLines]="true"
        [dataSource]="invoiceList">
        <dxi-column dataField="id"></dxi-column>
        <dxi-column dataField="clients[0].name" caption="Client name"></dxi-column>
        <dxi-column dataField="clients[0].roomName" caption="Room"></dxi-column>
        <dxi-column dataField="rentTime" caption="Rent day"></dxi-column>
        <dxi-column dataField="totalRoomAmount" format="currency"></dxi-column>
        <dxi-column dataField="totalServiceAmount" format="currency"></dxi-column>
        <dxi-column dataField="discount" caption="Discount"></dxi-column>
        <dxi-column dataField="totalAmount" format="currency"></dxi-column>
        <dxi-column dataField="status"></dxi-column>
        <dxi-column dataField="notes"></dxi-column>
    </dx-data-grid>
</div>
