.booked-clients-list {
    width: 90%;
    margin-left: 5%;
    .dx-field {
        .text-box-search {
            width: 200px;
            float: left;
            margin: 5px 10px 5px 0;
        }
        .search-option {
            float: left;
            margin: 5px 10px 5px 10px;
        }
        .btn-search {
            float: left;
            margin: 0 5px 5px 10px;
        }
    }
    .btn-check-in {
        margin-top: 10px;
    }
    .btn-update {
        margin: 10px 0 0 10px;
    }
    .btn-delete {
        margin: 10px 0 0 10px;
    }
}
