@import "~src/styles";
.room-list {
    //margin-top: $top-bar-height;
    nav {
        margin: 10px 0 0 0;
        dx-button {
            margin: 5px;
        }
    }
    table {
        width: 100%;
        border-collapse:separate;
        border-spacing: 5px 5px;

        th, td {
            border-radius: 5px;
            text-align: center;
            dx-button {
                width: 100%;
                //padding-top: 30px;
                p {
                    margin: 20px 0 25px 0;
                }
            }
        }
        .floor {
            background-color: #80ba6c;
            font-size: $font-size-normal;
            height: 100px;
        }
        .room {
            height: 100px;
            font-size: $font-size-normal;
            .status {
                margin-top: 35px;
            }
        }
        @media (max-width: 400px) {
            .floor {
                font-size: $font-size-small;
            }
            .room {
                font-size: $font-size-small;
            }
        }
    }
}
.panel {
    position: relative;
    border: 1px #ddd solid;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 15px;
    .title {
        padding: 5px;
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(-50%);
        border: 1px #ddd solid;
        background-color: #f0f0f0;
        z-index: 3;
    }
    .dx-field-label {
        width: 30%;
    }
    .dx-field-value {
        width: 70%;
    }
    .dx-field {
        dx-button {
            margin: 10px 0 0 5px;
            float: right;
        }
    }

    hr {
        border-color: #ddd;
        margin-bottom: 10px;
    }
    p {
        font-size: 25px;
    }
}
.group-btn {
    float: right;
    dx-button {
        margin: 0 10px 10px 10px;
    }
}

@media (max-width: 400px) {
    dx-popup {
        width: 100%;
    }
}

