@import "~src/styles";
.room-list {
    //margin-top: $top-bar-height;
    padding: 20px;
    nav {
        dx-button {
            margin: 5px 0 5px 15px;
            //width: 100%;
        }
    }
    .room-diagram {
        overflow-x: scroll;
        overflow-y: hidden;
        //padding: 20px;
        table {
            width: 100%;
            border-collapse:separate;
            border-spacing: 5px 5px;

            th, td {
                border-radius: 5px;
                text-align: center;
                width: 200px;
                max-width: 200px;
                min-width: 200px;
                .room {
                    width: 100%;
                    height: 100px;
                    font-size: $font-size-normal;
                    position: relative;
                    color: #fff;
                    .room-name {
                        //position: absolute;
                        //right: -20%;
                        //top: -10px;
                    }
                    p {
                        margin: 10px 0 25px 0;
                    }
                    .above {
                        height: 25px;
                        .room-type {
                            font-size: $font-size-small;
                            float: left;
                        }
                        .custom-time {
                            padding-right: 20px;
                            float: right;
                            font-size: 13px;
                            position: absolute;
                            right: -18px;
                            //right: -46px;
                            top: 10px;
                        }
                        @media (min-width: 1880px) {
                            .custom-time {
                                right: -46px;
                                //right: -18px;
                            }
                        }
                    }
                    .room-name {
                        font-size: $font-size-large;
                    }
                    .client-name {
                        font-size: $font-size-small;
                        padding-top: 5px;
                    }
                }
            }
            .floor {
                background-color: #80ba6c;
                font-size: $font-size-normal;
                height: 100px;
                min-width: 100px;
                max-width: 100px;
                width: 100px;
            }


            @media (max-width: 400px) {
                .floor {
                    font-size: $font-size-small;
                }
                .room {
                    font-size: $font-size-small;
                }
            }
        }
    }
    //.room-diagram::-webkit-scrollbar-track
    //{
    //    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    //    background-color: #F5F5F5;
    //    border-radius: 10px;
    //}
    //
    //.room-diagram::-webkit-scrollbar
    //{
    //    //height: 10px;
    //    //background-color: #F5F5F5;
    //    margin-left: 20px;
    //}
    //
    //.room-diagram::-webkit-scrollbar-thumb
    //{
    //    border-radius: 10px;
    //    background-color: #FFF;
    //    background-image: -webkit-gradient(linear,
    //        40% 0%,
    //        75% 84%,
    //        from(#4D9C41),
    //        to(#19911D),
    //        color-stop(.6,#54DE5D))
    //}
    .notes {
        .note-item {
            height: 30px;
            p {
                font-size: $font-size-normal;
                margin-left: 30px;
                width: 200px;
            }
            .available-note {
                width: 25px;
                height: 25px;
                background-color: green;
                margin: 10px;
            }
            .booking-note {
                width: 25px;
                height: 25px;
                background-color: orange;
                margin: 10px;
            }
            .booked-note {
                width: 25px;
                height: 25px;
                background-color: #337ab7;
                margin: 10px;
            }
            .selection-note {
                width: 25px;
                height: 25px;
                background-color: violet;
                margin: 10px;
            }
        }
    }
}
