<app-check-in></app-check-in>
<app-booking></app-booking>
<app-check-out></app-check-out>
<app-update-service></app-update-service>
<div class="room-diagram">
    <table>
        <tbody>
        <tr></tr>
        <tr *ngFor="let floor of floors" style="height: 100px;">
            <td class="floor">Floor {{floor.name}}</td>
            <td *ngFor="let room of floor.rooms">
                <dx-button
                    id="R{{room.name}}"
                    (onClick)="openRoomInfo(room)"
                    class="room"
                    [style.background-color]="room.status === 'Available' ? 'green' : room.status === 'Booked' ? 'orange' : '#337ab7'">
                    <div class="row above">
                        <div class="col-sm-2 col-xs-2 room-type">
                            <span>{{room.type}}</span>
                        </div>
                        <div class="col-sm-10 col-xs-10 custom-time" *ngIf="room.status === 'Booked' || room.status === 'Checked in'">
                            <span>{{room.checkinTime | date: 'MM'}}-{{room.checkinTime | date: 'dd'}} </span>
                            <i class="dx-icon-arrowright"></i>
                            <span> {{room.checkoutTime | date: 'MM-dd-yyyy'}}</span>
                        </div>
                    </div>
                    <div>
                        <p class="room-name">{{room.name}}</p>
                        <p class="status">
                            <span *ngIf="room.status === 'Checked in'">{{room.clients[0].name}}</span>
                            <span *ngIf="room.status === 'Available'">(Available)</span>
                            <span *ngIf="room.status === 'Booked'">(Booked)</span>
                        </p>
                        <p>
                            <span *ngIf="room.status === 'Checked in' && room.clients[0].invoice != null" class="total-amount">
                                ({{room.clients[0].invoice.totalAmount | currency}})
                            </span>
                        </p>
                        <p>
                            <span *ngIf="room.status === 'Booked'" class="total-amount">
                                (Code: {{room.clients[0].code}})
                            </span>
                        </p>
                    </div>
                </dx-button>
                <dx-context-menu
                    [dataSource]="rightClickText"
                    [width]="200"
                    target="#R{{room.name}}"
                    (onItemClick)="rightClick($event, room.name)">
                </dx-context-menu>
            </td>
        </tr>
        </tbody>
    </table>
</div>
