<dx-popup
    [(visible)]="isVisiblePersonalCheckoutPopup"
    width="50%"
    height="auto"
    maxHeight="90%"
    [showTitle]="true"
    [title]="titlePersonalCheckout"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false">
    <dx-scroll-view>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h3 class="hotel-name">Enlab Hotel</h3>
                <p>22 Tan An 4 Street, Hai Chau District, Da Nang City</p>
                <p>(+84) 236 3611 259</p>
            </div>
            <div class="col-sm-6 col-xs-6">
                <img class="logo-img" src="../../assets/logo.png" alt="enlab">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 title">
                        <p>Room </p>
                        <p>Checkin Date </p>
                        <p>Checkout Date </p>
                    </div>
                    <div class="col-sm-7">
                        <p>{{room.name}} ({{room.type}})</p>
                        <p>{{room.checkinTime.toLocaleDateString()}} {{room.checkinTime.toLocaleTimeString()}}</p>
                        <dx-date-box
                            type="datetime"
                            [(value)]="room.checkoutTime">
                        </dx-date-box>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4 title">
                        <p>Price </p>
                        <p>Rent day </p>
                        <p>Room amount</p>
                    </div>
                    <div class="col-sm-8">
                        <p>{{room.price | currency:'USD':'symbol':'.0'}}</p>
                        <p>{{invoice.rentTime}} (day)</p>
                        <p>{{invoice.totalRoomAmount | currency:'USD':'symbol':'.0'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <dx-data-grid
            title="Clients"
            [dataSource]="room.clients"
            [columns]="['name', 'address', 'email', 'identityOrPassport', 'nationality', 'notes']"
            [showBorders]="true">
        </dx-data-grid>
        <hr>
        <dx-data-grid
            #serviceGrid
            [showRowLines]="true"
            [dataSource]="invoice.servicesOfInvoice"
            [showBorders]="true">
            <dx-scroll-view></dx-scroll-view>
            <dxi-column dataField="orderTime" dataType="datetime"></dxi-column>
            <dxi-column dataField="service.name"></dxi-column>
            <dxi-column dataField="service.price" format="currency"></dxi-column>
            <dxi-column dataField="quantity"></dxi-column>
            <dxi-column dataField="totalAmount" format="currency"></dxi-column>

            <dxo-summary>
                <dxi-total-item
                    column="totalAmount"
                    summaryType="sum"
                    valueFormat="currency">
                </dxi-total-item>
            </dxo-summary>
        </dx-data-grid>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <span class="title">Prepay &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{invoice.prepay | currency:'USD':'symbol':'.0'}}</span>
            </div>
            <div class="col-sm-4">
                <span class="title">Discount &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{invoice.discount | currency:'USD':'symbol':'.0'}}</span>
            </div>
            <div class="col-sm-4">
                <span class="title">Total Amount &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{invoice.totalAmount | currency:'USD':'symbol':'.0'}}</span>
            </div>
        </div>
        <div style="margin-top: 15px">
            <span class="title">Notes </span>
            <span>
        <dx-text-area
            height="90"
            width="90%"
            [(value)]="invoice.notes"></dx-text-area>
    </span>
        </div>
        <div class="group-btn">
            <dx-button
                type="danger"
                icon="close"
                text="Cancel"
                (onClick)="cancelCheckout()"></dx-button>
            <dx-button
                type="success"
                icon="check"
                text="Checkout"
                (onClick)="checkOut()"></dx-button>
        </div>
    </dx-scroll-view>
</dx-popup>
