<dx-popup
    [(visible)]="isVisiblePersonalCheckoutPopup"
    width="40%"
    height="auto"
    maxHeight="90%"
    [showTitle]="true"
    [title]="titlePersonalCheckout"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false">
    <dx-scroll-view>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <h3 class="hotel-name">Enlab Hotel</h3>
                <p>22 Tan An 4 Street, Hai Chau District, Da Nang City</p>
                <p>(+84) 12345678</p>
            </div>
            <div class="col-sm-6 col-xs-6">
                <img class="logo-img" src="../../assets/logo.png" alt="enlab">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 title">
                        <p>Client Name </p>
                        <p>Checkin Date </p>
                        <p>Checkout Date </p>
                        <p>Rent time </p>
                    </div>
                    <div class="col-sm-7">
                        <p *ngIf="invoice.clients.length">{{invoice.clients[0].name}}</p>
                        <p>{{roomCheckout.checkinTime.toLocaleDateString()}} {{roomCheckout.checkinTime.toLocaleTimeString()}}</p>
                        <p>{{roomCheckout.checkoutTime.toLocaleDateString()}} {{roomCheckout.checkoutTime.toLocaleTimeString()}}</p>
                        <p>{{invoice.rentTime}} day</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3 title">
                        <p>Room </p>
                        <p>Price </p>
                        <p>Type </p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{roomCheckout.name}}</p>
                        <p>{{roomCheckout.price | currency: 'USD'}}</p>
                        <p>{{roomCheckout.type}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <span class="title">Room money &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>{{roomCheckout.price | currency}} x {{invoice.rentTime}} = {{invoice.totalRoomMoney | currency}}</span>
        <hr>
        <dx-data-grid
            [showRowLines]="true"
            [dataSource]="invoice.servicesOfInvoice"
            [showBorders]="true">
            <dx-scroll-view></dx-scroll-view>
            <dxi-column dataField="service.name"></dxi-column>
            <dxi-column dataField="service.price" format="currency"></dxi-column>
            <dxi-column dataField="quantity"></dxi-column>
            <dxi-column dataField="totalMoney" format="currency"></dxi-column>
        </dx-data-grid>
        <div style="margin-top: 20px">
            <span class="title">Service money &nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>{{invoice.totalServiceMoney | currency}}</span>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <span class="title">Prepay &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{invoice.prepay | currency}}</span>
            </div>
            <div class="col-sm-4">
                <span class="title">Discount &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{invoice.discount}}%</span>
            </div>
            <div class="col-sm-4">
                <span class="title">Total Payment &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{invoice.totalPayment | currency}}</span>
            </div>
        </div>
        <div style="margin-top: 15px">
            <span class="title">Notes </span>
            <span>
        <dx-text-area
            height="90"
            width="90%"
            [(value)]="invoice.notes"></dx-text-area>
    </span>
        </div>
        <div class="group-btn">
            <dx-button
                type="danger"
                icon="close"
                text="Cancel"
                (onClick)="cancelCheckout()"></dx-button>
            <dx-button
                type="success"
                icon="check"
                text="Checkout"
                (onClick)="checkOut()"></dx-button>
        </div>
    </dx-scroll-view>
</dx-popup>
