<dx-popup
    width="60%"
    height="auto"
    maxHeight="90%"
    [showTitle]="true"
    [title]="bookingTitle"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="isVisiblePersonalBookingPopup">
    <dx-scroll-view>
        <div style="padding-top: 14px">
            <div class="panel">
                <div class="title">
                    Booking information
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Price</div>
                            <div class="dx-field-value">
                                <dx-text-box [value]="roomBooking.price.toString() | currency: 'USD':'symbol':'.0'"></dx-text-box>
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Checkin Time</div>
                            <div class="dx-field-value">
                                <dx-date-box
                                    type="datetime"
                                    [(value)]="roomBooking.checkinTime"
                                    invalidDateMessage="The date must have the following format: MM/dd/yyyy">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Checkin time is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-date-box>
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Checkout Time</div>
                            <div class="dx-field-value">
                                <dx-date-box
                                    [(value)]="roomBooking.checkoutTime"
                                    type="datetime">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Checkout time is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-date-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dx-field">
                            <div class="dx-field-label">Prepay</div>
                            <div class="dx-field-value">
                                <dx-number-box [(ngModel)]="prepay">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Prepay time is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-number-box>
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Discount</div>
                            <div class="dx-field-value">
                                <dx-number-box [(ngModel)]="discount">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Discount is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-number-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="title">Clients</div>
            <dx-data-grid
                height="250px"
                [dataSource]="roomBooking.clients"
                [columns]="['name', 'address', 'email', 'identityOrPassport', 'nationality', 'notes']"
                [showBorders]="true">
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-editing
                    mode="row"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true"
                    [useIcons]="true">
                </dxo-editing>
            </dx-data-grid>
        </div>
        <div class="group-btn">
            <dx-button (onClick)="cancelBooking()" type="danger" icon="close" text="Cancel"></dx-button>
            <dx-button *ngIf="!updateBooking" (onClick)="bookPersonalRoom()" type="success" icon="check" text="Book"></dx-button>
            <dx-button *ngIf="updateBooking" (onClick)="updatePersonalBooking()" type="success" icon="check" text="Update"></dx-button>
        </div>
    </dx-scroll-view>
</dx-popup>
