/* You can add global styles to this file, and also import other style files */
$top-bar-height: 100px;
$font-size-small: 15px;
$font-size-normal: 20px;
$font-size-large: 30px;
$background-color: #337ab7;

/deep/ .dx-popup-title {
    color: #fff;
    background-color: $background-color;
}
