.panel {
    position: relative;
    border: 1px #ddd solid;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 15px;
    .title {
        padding: 5px;
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(-50%);
        border: 1px #ddd solid;
        background-color: #f0f0f0;
        z-index: 3;
    }
    .service-box {
        width: 35%;
    }
    .dx-field-label {
        width: 30%;
    }
    .dx-field-value {
        width: 70%;
    }
    .dx-field {
        dx-button {
            margin: 10px 0 0 5px;
            float: right;
        }
    }

    hr {
        border-color: #ddd;
        margin-bottom: 10px;
    }
    p {
        font-size: 25px;
    }
    .room-service {
        margin: 15px 0 15px 0;
        dx-button {
            width: 100%;
        }
    }
}
.group-btn {
    float: right;
    dx-button {
        margin: 0 10px 10px 10px;
    }
}
