<dx-popup
    [(visible)]="isVisibleAddServicePopup"
    width="50%"
    height="auto"
    maxHeight="90%"
    [showTitle]="true"
    title="Add new service"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [showCloseButton]="true">
<!--    <div class="row">-->
<!--        <div class="col-sm-4">-->
<!--            <dx-select-box-->
<!--                #selectBoxServiceType-->
<!--                displayExpr="name"-->
<!--                searchEnabled="true"-->
<!--                [acceptCustomValue]="true"-->
<!--                [dataSource]="serviceTypeSource"-->
<!--                [value]="currentType"-->
<!--                (onCustomItemCreating)="customServiceType($event)"-->
<!--                placeholder="Service type">-->
<!--            </dx-select-box>-->
<!--        </div>-->
<!--        <div class="col-sm-4">-->
<!--            <dx-text-box-->
<!--                placeholder="Service name"-->
<!--                [(value)]="serviceName"></dx-text-box>-->
<!--        </div>-->
<!--        <div class="col-sm-4">-->
<!--            <dx-number-box-->
<!--                placeholder="Service price"-->
<!--                [(value)]="servicePrice"></dx-number-box>-->
<!--        </div>-->
<!--        <div class="button">-->
<!--            <dx-button-->
<!--                (onClick)="addNewService()"-->
<!--                text="Ok"-->
<!--                type="success"></dx-button>-->
<!--        </div>-->
<!--    </div>-->
    <dx-data-grid
        height="250"
        [showRowLines]="true"
        [dataSource]="serviceSource"
        (onRowInserting)="createService($event)"
        (onRowRemoving)="deleteService($event)"
        [showBorders]="true">
        <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
        <dxi-column
            dataField="serviceTypeId"
            caption="Service type"
            [editorOptions]="lookupColumnOptions">
            <dxo-lookup
                [dataSource]="serviceTypeSource"
                valueExpr="id"
                displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column
            dataField="name"
            caption="Service name">
        </dxi-column>
        <dxi-column
            dataField="price"
            format="currency">
        </dxi-column>
    </dx-data-grid>
    <div class="button">
        <dx-button
            (onClick)="addNewService()"
            text="Ok"
            type="success"></dx-button>
    </div>
</dx-popup>
