<dx-popup
    [(visible)]="isVisibleAddServicePopup"
    width="50%"
    height="auto"
    maxHeight="90%"
    [showTitle]="true"
    title="Add new service"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [showCloseButton]="true">
    <dx-data-grid
        height="250"
        [showRowLines]="true"
        [dataSource]="serviceSource"
        (onRowInserting)="createService($event)"
        (onRowRemoving)="deleteService($event)"
        (onRowUpdated)="updateService($event)"
        [showBorders]="true">
        <dxo-editing
            mode="row"
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true">
        </dxo-editing>
        <dxi-column
            dataField="serviceTypeId"
            caption="Service type"
            [editorOptions]="lookupColumnOptions">
            <dxo-lookup
                [dataSource]="serviceTypeSource"
                valueExpr="id"
                displayExpr="name"></dxo-lookup>
        </dxi-column>
        <dxi-column
            dataField="name"
            caption="Service name">
        </dxi-column>
        <dxi-column
            dataField="price"
            format="currency">
        </dxi-column>
    </dx-data-grid>
    <div class="button">
        <dx-button
            (onClick)="ok()"
            text="Ok"
            type="success"></dx-button>
    </div>
</dx-popup>
